:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Outfit", sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  background-color: hsl(212, 45%, 89%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  min-height: 50px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  footer {
    display: none;
  }
}


@media only screen and (max-height: 800px) {
  footer {
    display: none;
  }
}